[Unit]
Description=Elastic Kibana
After=elasticsearch

[Service]
WorkingDirectory=/home/gary/logaggregation/kibana-7.2.0-linux-x86_64/bin
ExecStart=/home/gary/logaggregation/kibana-7.2.0-linux-x86_64/bin/kibana
SyslogIdentifier=kibana
User=gary

[Install]
WantedBy=multi-user.target